@using Microsoft.AspNet.Identity
@using Lexicon.Models
@using Lexicon.Models.Lexicon
@using Microsoft.AspNet.Identity.EntityFramework

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{var manager = new UserManager<User>(new UserStore<User>(new ApplicationDbContext()));
                var currentUser = manager.FindById(User.Identity.GetUserId());
                string userName = currentUser.FirstName;
                if (userName == null || userName.Length == 0)
                {
                    userName = currentUser.UserName;
                }
                }
                @Html.ActionLink("Hello " + userName + "!", "ChangePassword", "Manage", null, null)
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
   </ul>
}