<h1>{{Title}}</h1>

<div class="form-horizontal">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Amount of Days</th>
        </tr>
        <tr>
            <td>{{Template.Name}}</td>
            <td>{{Template.AmountDays}}</td>
        </tr>
    </table>
</div>

<hr />

<h2>Configured days</h2>

<div class="form-horizontal">
    <div id="content" class="form-group">

    </div>
</div>

<hr />
<a href="#!Templates/Edit/{{Template.Id}}">Edit</a> |
<a href="#!/Templates">Back to List</a>
