<h1>{{Title}}</h1>

<hr />

<h2>Documents</h2>

<div class="form-horizontal" ng-init="GetCourseDay()">
    <div class="form-group">
        <table class="table table-striped table-responsive vertical-centered">
            <thead>
                <tr>
                    <th>
                        <p class="p-sort" ng-click="orderDocumentsBy('Name')">
                            Name
                        </p>
                    </th>
                    <th>
                        <p class="p-sort" ng-click="orderDocumentsBy('DocumentClass')">
                            Document Class
                        </p>
                    </th>
                    <th>
                        <p class="p-sort" ng-click="orderDocumentsBy('UploadingDate')">
                            Uploaded
                        </p>
                    </th>
                    <th>
                        <p class="p-sort" ng-click="orderDocumentsBy('UploadedBy')">
                            By
                        </p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in CourseDay.Documents | orderBy:documentPropertyName:documentReverse">
                    <td><a href="javascript:void(0)" data-localize="DOWNLOAD" ng-click="Download(doc.ID)">{{doc.Name}}</a></td>
                    <td>{{doc.DocumentClass}}</td>
                    <td>{{doc.Uploaded}}</td>
                    <td>{{doc.UploadedBy}}</td>
                    <td>
                        <a href="javascript:void(0)" ng-click="Delete(doc.Name, doc.ID)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <a class="btn btn-default" href="#!/CourseDays/Upload/{{CourseDay.ID}}">Upload a new document</a>
    </div>
</div>

<div ng-show="CourseDay.Attendances">
    <hr />

    <h2>Attendances</h2>

    <div class="form-horizontal">
        <div class="form-group">
            <table class="table table-striped table-responsive vertical-centered">
                <thead>
                    <tr>
                        <th>
                            <p class="p-sort" ng-click="orderAttendancesBy('FirstName')">
                                First Name
                            </p>
                        </th>
                        <th>
                            <p class="p-sort" ng-click="orderAttendancesBy('LastName')">
                                Last Name
                            </p>
                        </th>
                        <th>
                            <p class="p-sort" ng-click="orderAttendancesBy('AFID')">
                                AF ID
                            </p>
                        </th>
                        <th>
                            <p class="p-sort" ng-click="orderAttendancesBy('Present')">
                                Present
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attendance in CourseDay.Attendances | orderBy:attendancePropertyName:attendanceReverse">
                        <td>{{attendance.Student.FirstName}}</td>
                        <td>{{attendance.Student.LastName}}</td>
                        <td>{{attendance.Student.AFId}}</td>
                        <td>{{attendance.Student.Present}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <button type="button" ng-click="ExportAttendance(CourseDay.ID)">Export attendance</button>
        </div>
    </div>
</div>

<hr />

<div class="form-group">
    <a class="btn btn-default" href="#!/CourseParts/Details/{{CourseDay.MorningID}}">See morning details</a>
    <a class="btn btn-default" href="#!/CourseParts/Details/{{CourseDay.AfternoonID}}">See afternoon details</a>
</div>

<div class="form-group" ng-show="CourseDay.CourseTemplateID">
    <a href="#!/Templates/Details/{{CourseDay.CourseTemplateID}}">Back to {{CourseDay.CourseTemplateName}}</a>
</div>

<div class="form-group" ng-show="CourseDay.CourseID">
    <a href="#!/Courses/Details/{{CourseDay.CourseID}}">Back to {{CourseDay.CourseName}}</a>
</div>