<h1>{{Title}}</h1>

<hr />

<h2>Configured days ({{Template.AmountDays}})</h2>

<div class="form-horizontal" ng-init="GetCourseDays()">
    <div class="form-group">
        <table class="table table-striped table-responsive vertical-centered">
            <thead>
                <tr>
                    <th></th>
                    <th>Day</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cd in CourseDays">
                    <td>
                        <p class="href" ng-show="cd.DayNumber > 1">
                            <a href="javascript:void(0)" ng-click="MoveUp('DAY ' + cd.DayNumber, cd.ID)">&#9650;</a>
                        </p>
                        <p class="href" ng-show="cd.DayNumber < amountofdays">
                            <a href="javascript:void(0)" ng-click="MoveDown('DAY ' + cd.DayNumber, cd.ID)">&#9660;</a>
                        </p>
                    </td>
                    <td>{{cd.DayNumber}}</td>
                    <td>
                        <a href="#!/CourseDays/Details/{{cd.ID}}">Details</a> |
                        <a href="javascript:void(0)" ng-click="DeleteCourseDay(cd.DayNumber, cd.ID)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />
<button href="javascript:void(0)" ng-click="AddCourseDay()">Add another day</button> |
<a href="#!Templates/Edit/{{Template.Id}}">Edit</a> |
<a href="#!/Templates">Back to List</a>

<div class="text-info" style="font-weight:bolder">
    <p>{{AddError}}</p>
    <p>{{DeleteError}}</p>
    <p>{{MoveUpError}}</p>
    <p>{{MoveDownError}}</p>
</div>