<div class="col-md-8">
    <h2>Please enter your credentials:</h2>

    <div class="form-group">
        <label class="col-md-2 control-label">Username</label>
        <input type="text"
               class="form-control"
               id="UserName"
               ng-model="login.Username"
               autofocus="autofocus" />
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <input type="password"
               class="form-control"
               id="Password"
               ng-model="login.Password" />
    </div>

    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <button type="submit" class="btn btn-default" ng-click="Login()">Log in!</button>
        </div>
    </div>
</div>
