<h1>{{Title}}</h1>

<hr />

<h2>Documents</h2>

<div class="form-horizontal" ng-init="GetCourseDay()">
    <div class="form-group">
        <table class="table table-striped table-responsive vertical-centered">
            <thead>
                <tr>
                    <th>
                        <p class="p-sort" ng-click="orderBy('Name')">
                            Name
                        </p>
                    </th>
                    <th>
                        <p class="p-sort" ng-click="orderBy('Class')">
                            Class
                        </p>
                    </th>
                    <th>
                        <p class="p-sort" ng-click="orderBy('UploadingDate')">
                            Uploaded
                        </p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in courseDay.Files | orderBy:propertyName:reverse">
                    <td>{{doc.Name}}</td>
                    <td>{{doc.Class}}</td>
                    <td>{{doc.UploadingDate}}</td>
                    <td>
                        <a href="#!/Documents/Download/{{doc.ID}}">Download</a> |
                        <a href="javascript:void(0)" ng-click="DeleteDocument(doc.Name, doc.ID)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <button ng-click="UploadDocument(courseDay.ID)">Upload a new document</button>
    </div>
</div>

<hr />

<h2>Pluralsight Links</h2>

<div class="form-horizontal">
    <div class="form-group">
        <table class="table table-striped table-responsive vertical-centered">
            <thead>
                <tr>
                    <th>
                        <p class="p-sort" ng-click="orderBy('HttpLink')">
                            URL
                        </p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="link in courseDay.Links | orderBy:propertyName:reverse">
                    <td>
                        <a href="{{link.HttpLink}}">{{link.HttpLink}}</a>
                        <div class="pluralsight-link">
                            <iframe src="{{link.HttpLink}}" style="width:500px;height:500px"></iframe>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:void(0)" ng-click="DeleteLink(link.HttpLink, link.ID)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <button ng-click="AddLink(courseDay.ID)">Add a new link</button>
    </div>
</div>

<hr />

<h2>Assignments</h2>

<div class="form-horizontal">
    <div class="form-group">
        <table class="table table-striped table-responsive vertical-centered">
            <thead>
                <tr>
                    <th>
                        <p class="p-sort" ng-click="orderBy('Theme')">
                            Theme
                        </p>
                    </th>
                    <th>
                        <p class="p-sort" ng-click="orderBy('Deadline')">
                            Deadline
                        </p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="assignment in courseDay.Assignments | orderBy:propertyName:reverse">
                    <td>{{assignment.Theme}}</td>
                    <td>{{assignment.Deadline}}</td>
                    <td>
                        <a href="#!/TeacherAssignments/Details/{{assignment.ID}}">Details</a> |
                        <a href="#!/TeacherAssignments/Edit/{{assignment.ID}}">Edit</a> |
                        <a href="javascript:void(0)" ng-click="DeleteAssignement(assignment.ID)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <button ng-click="AddAssignment(courseDay.ID)">Add a new assignment</button>
    </div>
</div>
