<h1>{{Title}}</h1>
<a href="#!/Templates/Create" title="Create a new template">Create a new template</a>

<hr />

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                <input type="text"
                       class="round-in-table"
                       name="Search"
                       ng-model="searchTerm.Name"
                       placeholder="Free Search">
                <p class="p-sort" ng-click="orderBy('Name')">
                    Name
                </p>
            </th>
            <th>
                <input type="text"
                       class="round-in-table"
                       name="Search"
                       ng-model="searchTerm.AmountDays"
                       placeholder="Free Search">
                <p class="p-sort" ng-click="orderBy('AmountDays')">
                    Amount of Days
                </p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="t in Templates | orderBy:propertyName:reverse | filter:searchTerm">
            <td>{{t.Name}}</td>
            <td>{{t.AmountDays}}</td>
            <td>
                <a href="#!/Templates/Details/{{t.ID}}">Details</a> |
                <a href="#!/Templates/Edit/{{t.ID}}">Edit</a> |
                <a href="javascript:void(0)" ng-click="Delete(t.Name, t.ID)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
