<h1>{{Title}}</h1>

<hr />

<h2>Documents</h2>

<div class="form-horizontal" ng-init="GetCourseDay()">
    <div class="form-group">
        <table class="table table-striped table-responsive vertical-centered">
            <thead>
                <tr>
                    <th>
                        <p class="p-sort" ng-click="orderBy('Name')">
                            Name
                        </p>
                    </th>
                    <th>
                        <p class="p-sort" ng-click="orderBy('DocumentClass')">
                            Document Class
                        </p>
                    </th>
                    <th>
                        <p class="p-sort" ng-click="orderBy('UploadingDate')">
                            Uploaded
                        </p>
                    </th>
                    <th>
                        <p class="p-sort" ng-click="orderBy('UploadedBy')">
                            By
                        </p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doc in CourseDay.Documents | orderBy:propertyName:reverse">
                    <td>{{doc.Name}}</td>
                    <td>{{doc.DocumentClass}}</td>
                    <td>{{doc.Uploaded}}</td>
                    <td>{{doc.UploadedBy}}</td>
                    <td>
                        <a href="#!/Documents/Download/{{doc.ID}}">Download</a> |
                        <a href="javascript:void(0)" ng-click="DeleteDocument(doc.Name, doc.ID)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <a class="btn btn-default" href="#!/CourseDays/Upload/{{CourseDay.ID}}">Upload a new document</a>
    </div>
</div>

<hr />

<h2>Pluralsight Links</h2>

<div class="form-horizontal">
    <div class="form-group">
        <table class="table table-striped table-responsive vertical-centered">
            <thead>
                <tr>
                    <th>
                        <p class="p-sort" ng-click="orderBy('HttpLink')">
                            URL
                        </p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="link in CourseDay.Links | orderBy:propertyName:reverse">
                    <td>
                        <a href="{{link.HttpLink}}">{{link.HttpLink}}</a>
                        <div class="pluralsight-link">
                            <iframe src="{{link.HttpLink}}" style="width:500px;height:500px"></iframe>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:void(0)" ng-click="DeleteLink(link.HttpLink, link.ID)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <button type="button" ng-click="AddLink(CourseDay.ID)">Add a new link</button>
    </div>
</div>

<div ng-show="CourseDay.Attendances">
    <hr />

    <h2>Attendances</h2>

    <div class="form-horizontal">
        <div class="form-group">
            <table class="table table-striped table-responsive vertical-centered">
                <thead>
                    <tr>
                        <th>
                            <p class="p-sort" ng-click="orderBy('FirstName')">
                                First Name
                            </p>
                        </th>
                        <th>
                            <p class="p-sort" ng-click="orderBy('LastName')">
                                Last Name
                            </p>
                        </th>
                        <th>
                            <p class="p-sort" ng-click="orderBy('AFID')">
                                AF ID
                            </p>
                        </th>
                        <th>
                            <p class="p-sort" ng-click="orderBy('Present')">
                                Present
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attendance in CourseDay.Attendances | orderBy:propertyName:reverse">
                        <td>{{attendance.Student.FirstName}}</td>
                        <td>{{attendance.Student.LastName}}</td>
                        <td>{{attendance.Student.AFId}}</td>
                        <td>{{attendance.Student.Present}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <button type="button" ng-click="ExportAttendance(CourseDay.ID)">Export attendance</button>
        </div>
    </div>
</div>

<div class="form-group">
    <button>See morning details</button>
    <button>See afternoon details</button>
</div>

<div class="form-group" ng-show="CourseDay.CourseTemplateID">
    <a href="#!/Templates/Details/{{CourseDay.CourseTemplateID}}">Back to {{CourseDay.CourseTemplateName}}</a>
</div>

<div class="form-group" ng-show="CourseDay.CourseID">
    <a href="#!/Courses/Details/{{CourseDay.CourseID}}">Back to {{CourseDay.CourseName}}</a>
</div>