@{
    ViewBag.Title = "Log In";
}

<h2>Log In</h2>
<hr />

<div class="row"
     ng-app="auth"
     ng-controller="authController">
    <div class="col-md-8">
        <section id="loginForm">
            <div class="form-group">
                <label class="col-md-2 control-label">User name</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="text"
                           ng-model="login.Username"
                           id="UserName"
                           placeholder="Username"
                           autofocus="autofocus" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="password"
                           ng-model="login.Password"
                           id="Password"
                           placeholder="Password" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-default" ng-click="RequestLogin()">Log in</button>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/Auth")
}
