@{
    ViewBag.Title = "Register";
}

<h2>Register a new User</h2>
<hr />

<div class="row"
     ng-app="auth"
     ng-controller="authController"
     ng-init="getRoles()">
    <div class="col-md-8">
        <section id="loginForm">
            <div class="form-group">
                <label class="col-md-2 control-label">Email address</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="text"
                           ng-model="register.Email"
                           id="Email"
                           placeholder="Email address"
                           autofocus="autofocus" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Username</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="text"
                           ng-model="register.Username"
                           id="Username"
                           placeholder="Username" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">First Name</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="text"
                           ng-model="register.FirstName"
                           id="Username"
                           placeholder="First Name" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Last Name</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="text"
                           ng-model="register.LastName"
                           id="Username"
                           placeholder="Last Name" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">AF Id</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="text"
                           ng-model="register.AFID"
                           id="Username"
                           placeholder="AF Id" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Role</label>
                <div class="col-md-10">
                    <select class="form-control"
                            name="roles"
                            id="Roles"
                            ng-options="role.Id as role.Name for role in roles"
                            ng-model="register.Role"
                            required></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/Auth")
}