<h2>{{Title}}</h2>

<form ng-submit="Send()" ng-init="GetUsers()">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">Recipient</label>
            <div class="col-md-10">
                <select class="form-control"
                        name="recipient"
                        ng-options="user.Id as DisplayUser(user) for user in Users"
                        ng-model="toid"
                        required
                        autofocus="autofocus"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Subject</label>
            <div class="col-md-10">
                <input type="text" name="Subject" required class="form-control" ng-model="subject" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Content</label>
            <div class="col-md-10">
                <textarea class="form-control content-message" name="Content" required ng-model="content" style="max-width:initial"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default">Send!</button>
                <span class="text-success">{{CreateMessage}}</span>
            </div>
        </div>
    </div>
</form>
<hr />
<div><a href="#!/Messages">Back to List</a></div>